<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <h1> Microsoft Book Store </h1>
    <p>This is a book store which is used to save all books written by Microsoft employees.</p>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 1rem;
            color: black;
          }
        .link {
            font-size: 25rem;
        }
    </style>
</head>
<body>
{{range .}}
<p><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a> - {{.Title}} - {{.Author}} - {{.Price}} - <a href="/books/update?isbn={{.Isbn}}">update</a>  - <a href="/books/delete/process?isbn={{.Isbn}}">delete</a> </p>
{{end}}

<p class="link"><a href="/books/create">Insert A Book</a></p>
</body>
</html>