<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <h1 align="center"> Contoso Books Inventory </h1>
    <h4 align="center"> Connected to Azure Database for Postgres </h4>
    <h4 align="center"><a href="/books/create"> Insert A Book </a></h4>
<br>
</br>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            margin: 0;
            padding: 0;
            flex-flow: column nowrap;
            align-items: left;
            height: 100vh;
        }
        h1 {
        text-align: center;
    }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
          }
        .link {
            font-size: 1rem;
        }

     table, th, td {
       border: 1px solid black;
       border-collapse: collapse;
     }
    th, td {
      padding: 5px;
      text-align: center;
    }
    table#t01 tr:nth-child(even) {
      background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
       background-color:#fff;
    }
    table#t01 th {
      background-color: #007FFF;
      color: white;
    }

     th, td {
        padding: 15px;
    }

    th {
        text-align: center;
    }
    </style>
</head>
<body>

<table align=center id="t01">
  <tr>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>

{{range .}}
<tr>
  <td><a href="/books/show?isbn={{.Isbn}}">{{.Isbn}}</a></td>
  <td>{{.Title}}</td>
  <td>{{.Author}}</td>
  <td>{{.Price}}</td>
  <td><a href="/books/update?isbn={{.Isbn}}">update</a></td>
  <td><a href="/books/delete/process?isbn={{.Isbn}}">delete</a></td>
</tr>
{{end}}
</table>


</body>
</html>
